/* CSS declarations go here */
@font-face {
  font-family: "digifont";
  src: url("/Audiowide-Regular.ttf");
 
  }

html{
	


}
body{
background: #00b7ea; /* Old browsers */
background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */

}

#nameFont{
	font-family: "digifont";
	font-size: 150%;
}

#pushDown{
	margin-top: 60px;
}

.borderRadius{
	border-radius: 15px;
}

.fishFlex{
	background-color: black;
	position:relative;
	padding-top:1.5625rem;
	padding-bottom:67.5%;
	height:0;
	margin-bottom:1rem;
	overflow:hidden;
	width:100%;
	height: 100%;
	border-radius: 10px;
}



#vidwrap{
	position:absolute;top:0;left:0;width:100%;height:100%;padding-bottom: 2.5%;
}

#stillGallery{
	background-color: black;
}

#contact{
	background-color: white;
}

