/* CSS declarations go here */
@font-face {
  font-family: "digifont";
  src: url("/Audiowide-Regular.ttf");
 
  }

html{
	
height: 100%;

}

.b{
	margin-bottom: 10px;
}

body{


height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #295CEA),
	color-stop(1, #90CAE5)
);
background-image: -o-linear-gradient(top, #295CEA 0%, #90CAE5 100%);
background-image: -moz-linear-gradient(top, #295CEA 0%, #90CAE5 100%);
background-image: -webkit-linear-gradient(top, #295CEA 0%, #90CAE5 100%);
background-image: -ms-linear-gradient(top, #295CEA 0%, #90CAE5 100%);
background-image: linear-gradient(to top, #295CEA 0%, #90CAE5 100%);

}

#nameFont{
	font-family: "digifont";
	font-size: 150%;
}

#pushDown{
	margin-top: 20px;
}

.borderRadius{
	border-radius: 15px;
}

.fishFlex{
	background-color: black;
	position:relative;
	padding-top:1.5625rem;
	padding-bottom:67.5%;
	height:0;
	margin-bottom:1rem;
	overflow:hidden;
	width:100%;
	height: 100%;
	border-radius: 10px;
}



#vidwrap{
	position:absolute;top:0;left:0;width:100%;height:100%;padding-bottom: 2.5%;
}

#stillGallery{
	background-color: black;
}

#contact{
	background-color: white;
}

